jupyterlab
jupyterlab-git
#jupyterlab-github
#jupyterlab-lsp
#python-lsp-server[all]
jupyterlab-code-formatter
black
isort
#jupyterlab-spellchecker
#jupyterlab-drawio
#plotly
#kaleido
#jupyterlab-execute-time
jupyterlab-system-monitor
jupyterlab-topbar
jupyterlab-favorites
#jupyter-suggestions-rtc
jupyterlab-night
#jupyterlab-gitlab
#jupyterlab-quickopen
jupyterlab-spreadsheet-editor
jupyterlab-logout
pandas 
numpy
selenium
